<!-- <app-hero-birthday></app-hero-birthday> -->
<!-- <app-hero-birthday2></app-hero-birthday2> -->
<!-- The chained hero's birthday is
{{ birthday | date | uppercase}} -->
<!-- The chained hero's birthday is
{{  birthday | date:'fullDate' | uppercase}} -->

<!-- <app-power-booster></app-power-booster> -->

<!-- <app-power-boost-calculator></app-power-boost-calculator> -->
<!-- <app-flying-heroes></app-flying-heroes> -->
<!-- <app-flying-heroes-impure></app-flying-heroes-impure> -->
<!-- <app-hero-async-message></app-hero-async-message> -->
<app-hero-list></app-hero-list>
